[pull]
	rebase = true
[user]
	name = decailiu
	email = decailiu@anjukje.com
[alias]
br = branch
st = status
co = checkout
ci = commit
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[push]
	default = simple
